@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 98%;
  --foreground: 0 0% 20%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 20%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 20%;
  --primary: 225 75% 44%;
  --primary-foreground: 0 0% 100%;
  --secondary: 225 75% 44%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 92%;
  --muted-foreground: 0 0% 45%;
  --accent: 225 75% 44%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 90%;
  --input: 0 0% 96%;
  --ring: 225 75% 44%;
  --radius: 0.625rem;
}

* { border-color: hsl(var(--border)); }
body { background: hsl(var(--background)); color: hsl(var(--foreground)); }
.container { max-width: 1504px; }
